*{
    margin: 0;
    padding: 0;
}
a{
    color: black;
}
a:hover{
    color: red;
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }
  .clearfix:after {
    clear:both;
  }
  .clearfix {
     *zoom:1;
  } 
  
body{
    -webkit-font-smoothing: antialiased; /*文字抗锯齿chrome、safari*/ 
    -moz-osx-font-smoothing: grayscale; /*文字抗锯齿firefox*/
    width: 375px;
    height: 6770px;
    background: #eee;
}
.juzhon{
    text-align: center;
}
.top{ 
    z-index: 1;  
    width: 375px;
    position: fixed;
    background: #FF4500 ;
    height: 20px;
}
.banner{
    position: relative;
}
.banner .bian{
    position: absolute;
    bottom: -7px;
}
.banner p{
    margin:0 auto;
}
.header{
    font-size: 220px;
}
h4{
    font-size: 38px;
}
.text {
    margin-top: 35px;
    width: 375px;
}
.text svg{
    font-size: 50px;
}
   
.duihua{
    position: relative;
    margin: 0 35px;
    width: 200px;
    border-radius: 20px;
    background: #FF7F50 ;
}
.text .duihua .neiron{
    padding: 5px 10px;
    font-size: 20px;
    width: 260px;
}
.jiao{
    position: absolute;
    height: 100px;
    font-size: 0;
    line-height: 0;
    height: 0;
    width: 0;  
}
.leftjiao{
    top: 2px;
    left: -20px;
    border: 15px solid transparent;
    border-right-color: #FF7F50 ;   
}
.rightjiao{
    border: 15px solid transparent;
    border-left-color: 	#FF7F50 ;  
    top: 2px;
    right: -20px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.bottom{
    background: #FF8C00 ;
    height: 17px;
    line-height: 17px;
}